<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Meu Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>Blog</h1>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('sobre') }}">Sobre mim</a>
        <a href="{{ url_for('projetos_page') }}">Meus Projetos</a>
        <a href="{{ url_for('contato') }}">Contato</a>
        <a href="{{ url_for('blog') }}">Blog</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('admin') }}">Admin</a>
    </nav>
</header>

<div class="container">
    <section class="section">
        <h2>Posts Recentes</h2>
        {% for post in posts %}
            <article>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <p><small>Postado em {{ post.date_posted }}</small></p>
            </article>
        {% endfor %}

        <article>
            <h3>Alan Turing: As Anotações Pessoais</h3>
            <p>A Enigma somente foi vencida quando Turing percebeu que a sua máquina – batizada no filme como Christopher – só funcionaria com base em um padrão estabelecido, baseado em mensagens repetidas. Isso possibilitou que as mensagens da Enigma pudessem ser decifradas.</p>
            <p><small>Postado em 9 de julho de 2024</small></p>
        </article>
    </section>
</div>


<footer>
    <p>&copy; 2024 Meu Blog Pessoal</p>
</footer>

</body>
</html>
